@model ProductModel
<h1 class="h3">Edit Product</h1>
<hr />

<form asp-controller="admin" asp-action="productedit" method="post">
    <div class="row">
        <div class="col-md-8">
            <input type="hidden" name="ProductId" value="@Model.ProductId" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Url"></label>
                <input asp-for="Url" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl"></label>
                <input asp-for="ImageUrl" class="form-control">
            </div>
            <button type="submit" class="btn btn-outline-success">Save</button>
        </div>
        <div class="col-md-4">
          
            @for (int i = 0; i < @Model.SelectedCategories.Count; i++)
            {
                <input type="hidden" name="SelectedCategories[@i].CategoryId" value="@Model.SelectedCategories[@i].CategoryId">
                <input type="hidden" name="SelectedCategories[@i].Name" value="@Model.SelectedCategories[@i].Name">
            }

            @foreach (var item in (List<Category>)ViewBag.Categories)
            {
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" 
                    class="custom-control-input" 
                    name="categoryId"
                    value="@item.CategoryId"
                    id="category_@(item.CategoryId)" 
                    @(Model.SelectedCategories.Any(i=>i.CategoryId==item.CategoryId)?"checked":"")>
                    <label class="custom-control-label" for="category_@(item.CategoryId)">@item.Name</label>
                </div>
            }

            <hr>


            <div class="custom-control custom-checkbox">
                <input asp-for="IsApproved" type="checkbox" class="custom-control-input">
                <label asp-for="IsApproved" class="custom-control-label"></label>
            </div>

            <div class="custom-control custom-checkbox">
                <input asp-for="IsHome" type="checkbox" class="custom-control-input">
                <label asp-for="IsHome" class="custom-control-label"></label>
            </div>
        </div>
   </div>
</form>