@model ProductDetailsModel

<div class="my-5">
<div class="row">
    <div class="col-md-3">
        <img src="~/images/@Model.Product.ImageUrl" class="img-fluid" alt=""/>
    </div>
    <div class="col-md-9">
            <h1 class="mb-3">@Model.Product.Name</h1><hr/>
            @foreach(var item in Model.Categories)
            {
               <a asp-controller="Shop" asp-action="list" asp-route-category="@item.Url" class="btn btn-link mb-3 p-0">@item.Name </a> 
            }
                
            
            <div class="mb-3">
                <h3 class="mb-3">
                    <small><i class="fa-solid fa-turkish-lira-sign"></i> @Model.Product.Price</small>
                </h3>
                <button type="submit" class="btn btn-outline-success btn-lg">Add to Cart</button>
            </div> 
    </div>
</div>
<div class="row">
    <div class="col-md-12">
            <p class="card-text">@Html.Raw(Model.Product.Description)</p>
    </div>
</div>
</div>


